@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background-color: #576574;
}
a {
    text-decoration: none;
    color: #8395a7;
}
a:hover {
    color: #c8d6e5;
}
.site-header {
    border-bottom: 1px solid #ccc;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
}
.site-identity h1 {
    font-size: 1.5em;
    margin: 0.6em 0;
    display: inline-block;
}
.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;
}
.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}

footer{
    background-color: #222f3e;
    color: #fff;
    border-top: 1px solid #ccc;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
}

footer a{
    color: #8395a7;
}

footer a:hover {
    color: rgb(255, 255, 255);
}

article{
    margin-bottom: 2em;
    border: #222f3e;
    border-bottom: 1px solid #ccc;
}

article h2{
    margin-left: 1em;
    color: #fff;
    font-size: 30px;
}

article p{
    margin-left: 2em;
    font-size:larger;
    color: #c8d6e5;
}
article img{
    min-width: 200px; 
    max-width: 400px;
}